*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Roboto',sans-serif;
    font-size: 14px;
}

.contenedor{
    width: 100%;
    height: 100vh;

    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 65px 1fr;
    grid-template-areas: "dashboard      header"
                         "nav           panel";
    background: #f2f2f2;
}

.contenedor .dashboard{
    grid-area: dashboard;
    background: #34495e;

    width: 100%;
    height: 65px;
    text-align: center;
    color: #fff;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.contenedor .dashboard i{
    font-size: 22px;
    margin-bottom: 5px;
    display: inline-block;
}

.contenedor .dashboard h1{
    display: inline-block;
    font-family: 'Roboto',sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
}

.contenedor .header{
    grid-area: header;
    width: 100%;
    height: 65px;
    background: #fff;
    box-shadow: 3px 0px 4px rgba(44, 62, 80, 0.3);
}

.contenedor .header .grupo-iconos{
    overflow: hidden;
    float: left;
    width: 200px;
    height: 65px;
}

.contenedor .header .grupo-iconos i{
    color: #6C7A7A;
    font-size: 22px;
    line-height: 65px;
    margin-left: 10px;
}

.contenedor .header .grupo-iconos i:first-child{
    margin-left: 20px;
}



.contenedor .menu{
    grid-area: nav;
    background: #34495e;
}

.contenedor .panel{
    grid-area: panel;
    width: 100%;
    padding: 20px;    
}

