.dashboard {
	z-index: 999;
	grid-area: dashboard;
	width: 100%;
	background: $primario;

	display: flex;
	justify-content: center;
	align-items: center;

	position: sticky;
	top: 0;

	a {
		text-decoration: none;
		.logo {
			width: 100px;

			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
				object-position: center;
			}
		}
	}
}
